.fondo{
    background-color: rgb(245, 169, 228);
}
h1{
    
        color: rgb(250, 245, 245);
        text-align: center;
}
.fondomain{
    background-color: antiquewhite;
}
.img1{
    width: 500px;
    height: 350px;
}